.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error {
  color: red;
}

.result {
  color: green;
}

form > div {
  margin: 10px;
}

button {
  margin: 20px;
  padding: 10px 20px;
}
